#fieldcontato { 
	float: left;
	padding: 0 30px;
	border: 2px solid #600000;
	background-color: #600000;
	border-radius: 10px;
}

legend {
	color: #600000;
	background: #ffffff;
	font-size: 28px;
	font-family: Product Sans;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	margin: 5px;
	width: 300px;
	border: 2px solid #600000;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px #ffffff, 0 2px 3px #000000;
} 

#modal { 
  display: block; 
  float: left; 
  clear: left; 
  text-align: left; 
  width: 100%; 
  padding: 20px 0 0 0; 
  color: #ffffff;
  font-family: product sans;

}
#informacao{
	top: 100px;
	font-family: product sans;
	font-size: 18px;
	color: #212121;
	position: relative;
}

text {

	color:#212121;
	text-decoration: none;
	font-size: 18px;
}

#fullname{
	margin: 2px 6px;
	padding: 2px 6px;
	border: 2px solid #ffffff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #f2f2f2;
	font-family:"Product Sans";
	font-size: 14px;
	box-shadow: inset 0 1px 1px #0000, 0 2px 3px #000000;
}
#email{
	margin: 2px 6px;
	padding: 2px 6px;
	border: 2px solid #ffffff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #f2f2f2;
	font-family:"Product Sans";
	font-size: 14px;
	box-shadow: inset 0 1px 1px #0000, 0 2px 3px #000000;
}

#assunto{
	margin: 2px 6px;
	padding: 2px 6px;
	border: 2px solid #ffffff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #f2f2f2;
	font-family:"Product Sans";
	font-size: 14px;
	box-shadow: inset 0 1px 1px #0000, 0 2px 3px #000000;
}
#textbox{
	margin: 2px 6px;
	padding: 2px 6px;
	border: 2px solid #ffffff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #f2f2f2;
	font-family:"Product Sans";
	font-size: 14px;
	box-shadow: inset 0 1px 1px #0000, 0 2px 3px #000000;
}
#enviar{
padding: 4px 11px;
border: 2px solid #ffffff;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
background-color: #ffffff;
font-family:"Product Sans";
font-weight: bold;
color: #600000;
font-size: 14px;
box-shadow: inset 0 1px 1px #0000, 0 2px 3px #000000;
cursor:pointer;
position: relative;
} 